.classpath
.settings/
.project
/.project
target/
target-eclipse/classes
web-app/WEB-INF/classes
projectFilesBackup/
out/
/logs/
db/
upload/
stacktrace.log
*/*.iml
*.iml
*.ipr
*.iws
*.swp
*.ids
.DS_Store
.history
.idea/
.slcache/
node_modules/
dist*