<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuzheng.holmes.dao.mapper.TDsAlertMapper">
  <resultMap id="BaseResultMap" type="com.shuzheng.holmes.common.entity.TDsAlert">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="show_type" jdbcType="TINYINT" property="showType" />
    <result column="alert_type" jdbcType="TINYINT" property="alertType" />
    <result column="alert_status" jdbcType="TINYINT" property="alertStatus" />
    <result column="alertgroup_id" jdbcType="INTEGER" property="alertgroupId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="log" jdbcType="LONGVARCHAR" property="log" />
    <result column="receivers" jdbcType="LONGVARCHAR" property="receivers" />
    <result column="receivers_cc" jdbcType="LONGVARCHAR" property="receiversCc" />
  </resultMap>
</mapper>