<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FLUME" class="com.shuzheng.holmes.sdk.flume.logback.HolmesLogstashV1Appender">
        <flumeAgents>
            192.168.5.122:2222
        </flumeAgents>
        <flumeProperties>
            connect-timeout=4000,
            request-timeout=8000
        </flumeProperties>
        <batchSize>100</batchSize>
        <reportingWindow>1000</reportingWindow>
        <additionalAvroHeaders>
            holmes.projectUuid=shuzheng,
            holmes.logUuid=test
        </additionalAvroHeaders>
    </appender>


    <appender name="HOLMES" class="com.shuzheng.holmes.sdk.http.HolmesHttpLogbackAppender">
        <hosts>192.168.5.82:8899</hosts>
        <projectUuid>shuzheng</projectUuid>
        <logUuid>test</logUuid>
    </appender>

    <root level="info">
        <appender-ref ref="HOLMES"/>
    </root>

</configuration>